@media screen and (max-width: 767px) {

  body{
    width: 767px;
    font-size: 22px;
    background-color: white;
    color: black;
  }
  .row{
    width: 767px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .col-xs h1{
    text-align: center;
    padding-top: 10px;
  }
  #lezioni.container{
    background-color: #F2F2CD;
    width: 100%;
  }
  #lezioni .row>.col-xs-12{
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
  #lezioni .row>.col-xs-12 img.maps{
    width: 150px;
    height: auto;
  }
  #lezioni .row>.col-xs-12 img.pc{
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  #steps.container{
    width: 100%;
    background-color: white;
    padding-top: 15px;
  }
  #steps .row>.col-xs-12{
    width: 100%;
    display: block;
    text-align: center;
  }
  #steps .row>.col-xs-12 img{
    width: 150px;
    height: auto;
    margin-top: 20px;
  }
  #steps .row>.central{
    width: 100%;
    display: block;
    text-align: center;
  }
  #steps .row>.central img{
    width: 100px;
    height: auto;
    margin-top: 20px;
  }
  #steps .row>.right{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  #steps .row>.right img{
    width: 100px;
    height: auto;
    margin-top: 20px;
  }
  #why.container{
    width: 100%;
    margin-top: 15px;
    background-color: #F2F2CD;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #why .row>.col-xs-12{
    width: 100%;
    display: block;
    text-align: center;
  }
  #why .row>.col-xs-12 img{
    width: 150px;
    height: auto;
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {

  body{
    width: 991px;
    font-size: 22px;
    background-color: white;
    color: black;
  }
  .row{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .col-md-12 h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #lezioni.container{
    width: 100%;
    background-color: white;
  }
  #lezioni .row .col-md-6{
    text-align: center;
    padding-bottom: 30px;
  }
  #lezioni .row .col-md-6 img.maps{
    width: 200px;
    height: auto;
  }
  #lezioni .row .col-md-6 img.pc{
    width: auto;
    height: 200px;
  }

  #steps.container{
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 15px;
  }
  #steps .row .col-md-6{
    text-align: center;
    padding-bottom: 10px;
  }
  #steps .row>.col-md-6 img{
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  #why.container{
    width: 100%;
    margin-top: 15px;
    background-color: #f9f9f9;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #why .row>.col-md-12{
    width: 100%;
    display: block;
    text-align: center;
  }
  #why .row>.col-md-12 img{
    width: 200px;
    height: auto;
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px){

  body{
    min-width: 992px;
    font-size: 22px;
    background-color: white;
    color: black;
  }
  .row{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .col-md-12 h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container{
    max-width: none;
  }
  #lezioni.container{
    width: 100%;
    background-color: white;
  }
  #lezioni .row .col-lg-6{
    text-align: center;
    padding-bottom: 30px;
  }
  #lezioni .row .col-lg-6 img.maps{
    width: 200px;
    height: auto;
  }
  #lezioni .row .col-lg-6 img.pc{
    width: auto;
    height: 200px;
  }

  #steps.container{
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 15px;
  }
  #steps .row .col-lg-4{
    text-align: center;
    padding-bottom: 20px;
  }
  #steps .row>.col-lg-4 img{
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  #why.container{
    width: 100%;
    margin-top: 15px;
    background-color: #f9f9f9;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #why .row>.col-md-12{
    width: 100%;
    display: block;
    text-align: center;
  }
  #why .row>.col-md-12 img{
    width: 200px;
    height: auto;
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
    margin-top: 20px;
  }
}
